 <footer class="main-footer">
        <div class="main-footer-content">
            <div class="main-footer-content-top wrapper">
                <a class="footer-logo" href="/">
                    <img src="../img/technomart.svg" alt="Техномарт" width="138" height="23">
                </a>
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="/">Компания</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#">Новости</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="/catalog">Каталог</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#">Доставка</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="main-footer-content-bottom wrapper">
                <p class="footer-contacts">
                    г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55
                </p>
                <ul class="footer-nav-list-2">
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#">Материалы</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#">Техника</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#">Инструмент</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#">Спецпредложения</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-footer-bar">
            <div class="main-footer-bar-wrap">
                <div class="main-footer-bar-copyright">
                    <small>© 2010–2019 Компания «Техномарт»
                  Все права защищены
                  </small>
                </div>
                <div class="main-footer-bar-social-media">
                    <ul class="social-media-list">
                        <li>
                            <a class="social icon-vk" href="http://vk.com/htmlacademy">
                                <span class="visually-hidden">
                        Вконтакте
                        </span>
                            </a>
                        </li>
                        <li>
                            <a class="social icon-facebook" href="http://www.facebook.com/htmlacademy">
                                <span class="visually-hidden">
                        Facebook
                        </span>
                            </a>
                        </li>
                        <li>
                            <a class="social icon-instagramm" href="http://twitter.com/htmlacademy_ru">
                                <span class="visually-hidden">
                        Instagramm
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main-footer-bar-col">
                    <div class="feedback">
                        <p>Обратная связь:</p>
                        <a href="mailto:mail@htmlacademy.ru">mail@htmlacademy.ru</a>
                    </div>
                    <div class="developer">
                        <p>Разработано —</p>
                        <a href="http://htmlacademy.ru">htmlacademy.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../bundle.js"></script>