
<div class="wrapper">
  <h1>Добавить новый товар</h1>
<form action="/catalog/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Название</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1">
    <label for="price">Цена</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

<div class="input-field">
    <input id="price" name="discountPrice" type="number" class="validate" required min="1">
    <label for="price">Цена по скидке</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field">
    <input id="img0" name="img" type="text" class="validate" required>
    <label for="img0">URL маленькой картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>
  
  <div class="input-field">
    <input id="img1" name="imgBig1" type="text" class="validate">
    <label for="img1">URL большой картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>

  <div class="input-field">
    <input id="img2" name="imgBig2" type="text" class="validate">
    <label for="img2">URL большой картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>

  <div class="input-field">
    <input id="img3" name="imgBig3" type="text" class="validate">
    <label for="img3">URL большой картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>

  <div class="input-field">
    <input id="title" name="type" type="text" class="validate" required>
    <label for="title">Тип товара</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="quantity" name="quantity" type="number" class="validate" required min="1">
    <label for="quantity">Количество</label>
    <span class="helper-text" data-error="Введите количество"></span>
  </div>

  <div class="input-field">
    <input id="description" name="description" type="text" class="validate" required>
    <label for="description">Описание</label>
    <span class="helper-text" data-error="Введите описание"></span>
  </div>

  <div class="input-field">
    <input id="production" name="production" type="text" class="validate">
    <label for="production">Производитель</label>
    <span class="helper-text" data-error="Введите производителя"></span>
  </div>

  <div class="input-field">
    <input id="power" name="power" type="text" class="validate">
    <label for="power">Питание</label>
    <span class="helper-text" data-error="Введите питание"></span>
  </div>

  <div class="input-field">
    <input id="totalBoughts" name="totalBoughts" type="number" class="validate" required min="0">
    <label for="totalBoughts">Количество покупок</label>
    <span class="helper-text" data-error="Введите количество"></span>
  </div>

  <div class="input-field">
    <input id="specifications" name="specifications" type="text" class="validate">
    <label for="specifications">Характеристики</label>
    <span class="helper-text" data-error="Введите характеристики"></span>
  </div>
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button type = "submit" class="btn-submit">Добавить товар</button>
</form>
</div>