<div class = "wrapper">
<h1>О компании</h1>
<p>Приветствуем Вас в интернет-магазине Technomart.ru!</p>

<p>Интернет-магазин Technomart.ru начал свою работу в марте 2006 года, и почти сразу занял одну из ведущих позиций в сегменте рынка потребительской электроники.</p>

<p>Являясь прямым дистрибьютором таких всемирно известных брендов как Sennheiser, Panasonic, Nikon, Bosch, Sony, Samsung, Braun, JBL, AKG, Philips, Gigaset, Alko, Olympus и многих других, интернет-магазин Technomart.ru, предлагает разнообразный выбор высококачественной техники и электроники. В нашем каталоге Вы найдете:  наушники, портативную технику, технику для сада, крупную бытовую технику, швейные машинки, кофемашины и кофе, домашние кинотеатры и портативные DVD-плееры, MP3 плееры и диктофоны, видео- и фотокамеры, мультимедиа центры и носители информации,  телефонию и мелкую бытовую технику – одним словом все, что необходимо для Вашего дома и офиса.</p>

<p>Наши консультанты помогут Вам принять правильное решение о покупке, а если это решение уже принято, объяснят, как оформить заказ в максимально удобной для Вас форме. Интернет-магазин Technomart.ru – это высокий уровень гарантийного и сервисного обслуживания.</p>

<p>Заказывать товары через интернет-магазин Technomart.ru Вы можете в Москве, МО, а так же в любом городе по всей территории РФ.</p>

<p>Мы уверены, что покупка товаров, представленных в интернет-магазине Technomart.ru, станет приятным событием для Вашей семьи и сотрудников Вашего офиса.</p>

<p>Мы надеемся, что Вы будете нашими постоянными клиентами!</p>

</div>