<div class="wrapper">
<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
<tbody>
<tr>
<td>Полное наименование организации</td>
<td>Общество с ограниченной ответственностью «Техномарт»</td>
</tr>
<tr>
<td>ЮРИДИЧЕСКИЙ АДРЕС</td>
<td>123456, г. Москва, ул. Подвойского, д. 14, стр. 7</td>
</tr>
<tr>
<td>Почтовый адрес</td>
<td>123456, г. Москва, ул. Подвойского, д. 14, стр. 7</td>
</tr>
<tr>
<td>ИНН</td>
<td>7712345678</td>
</tr>
<tr>
<td>КПП</td>
<td>779101001</td>
</tr>
<tr>
<td>БИК</td>
<td>044521234</td>
</tr>
<tr>
<td>Р/С</td>
<td>40702810123450101230 в Московский банк ПАО Сбербанк г. Москва</td>
</tr>
<tr>
<td>К/С</td>
<td>30101234500000000225</td>
</tr>
<tr>
<td>ОКПО</td>
<td>12345678</td>
</tr>
<tr>
<td>ОКАТО</td>
<td>87654321000</td>
</tr>
<tr>
<td>ОКВЭД (основной)</td>
<td>18.15</td>
</tr>
<tr>
<td>ОГРН</td>
<td>1047712345678</td>
</tr>
<tr>
<td>Генеральный директор</td>
<td>Петров Сергей Петрович</td>
</tr>
<tr>
<td>Электронная почта</td>
<td>info@technomart.ru</td>
</tr>
<tr>
<td>Телефон</td>
<td>+781212345678</td>
</tr>
<tr>
<td>Сайт</td>
<td>www.technomart.ru</td>
</tr>
</tbody>
</table>
</div>