<div class="wrapper">
<h1>Способы доставки</h1>
<p>Точную информацию о способах доставки Вашего заказа Вы можете узнать:</p>
<ul>
<li>В карточке товара</li>
<li>В корзине при оформлении заказа</li>
<li>Просто позвонив нам</li>
</ul>
<p>Курьерская доставка</p>
<p>Сроки доставки заказа Вы можете уточнить в карточке товара, «корзине» или у менеджера интернет-магазина перед подтверждением Вашего заказа.</p>
<ul>
<li>Заказы весом до 20 кг доставляются до двери.</li>
<li>Заказы весом свыше 20 кг доставляются до подъезда.</li>
<li>Обратите внимание, курьер не проверяет работоспособность техники.</li>
</ul>
</div>